@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200;300;400;500;600;700;800;900&family=Tajawal:wght@300;400;500;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700;800;900&family=Nunito:wght@300;400;500;600;700;800;900&family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Lato:wght@300;400;700;900&family=Source+Sans+3:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800&family=Merriweather:wght@300;400;700;900&family=Oswald:wght@300;400;500;600;700&display=swap');


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-Almarai: "Almarai";
    --font-Cairo: "Cairo";
    --color-primary: #240B36;
    --color-secondary: #AE1028;
    --color-tertiary: #5F4A72;
    --color-background: #F9F6FB;
    --text-title-h2: 1.875rem;
    --text-title-h3: 1.5rem;
    --text-suptitle: 1.125rem;

}

[data-gjs-type="wrapper"] {
    min-height: 100vh !important;
}

.pg-has-hover-bg {
    transition: background-color .2s ease, color .2s ease;
}

.pg-has-hover-bg:hover {
    background-color: var(--pg-hover-bg) !important;
    color: var(--pg-hover-color) !important;
}
